@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* common css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

.btn-pm {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    padding: 20px 25px;
}

.common-heading {
    color: #131313;
    font-size: 2.8125rem;
    font-weight: 700;
}

.common-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin: 25px 0 30px;
}

.common-h4 {
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
}

.common-p {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
}

.container {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

/* head */

.head {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.1rem;
    flex-wrap: wrap;
}

.nav ul li a {
    color: #424242;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 26px;
}

.banner {
    text-align: center;
}

.banner-text {
    max-width: 53.875rem;
    margin: 0 auto;
}

.banner .common-heading {
    font-size: 4rem;
}

.banner .banner-img {
    margin-top: 50px;
}

/* team */

.team {
    margin: 85px 0 130px;
}

.team-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    gap: 75px;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    width: 50%;
}

.quick-list {
    color: #727272;
    font-weight: 500;
}

.features {
    color: #FF900E;
}

.team-text {
    width: 40%;
}

/* feature */

.feature-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.feature-info {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-top: 20px;
    padding: 30px;
}

.feature-img {
    width: 50%;
    position: relative;
}

.feature-text {
    width: 40%;
    margin-top: 50px;
}

.feature-info .common-description {
    margin: 10px 0 0;
}

.feature-text>h3 {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.badge{
    color: #FFF;
    text-align: center;
    background: #FF900E;
    padding: 45px 40px;
    display: inline-block;
    border-radius: 8px;
    position: absolute;
    bottom: -80px;
     left: -80px;
}

.badge h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 70px;
}

.badge p {
    font-size: 1.5625rem;
    font-weight: 500;
    line-height: 40px;
}












/* responsive css */

@media screen and (max-width:1440px){

    .feature-text > div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .feature-container{
        align-items: center;
    }

    .feature-info .common-description{
        line-height: 1.5rem;
    }

}

@media screen and (max-width:1280px){

    .feature-info{
         margin: 0;
    }

    .feature-text > div{
        grid-template-columns: repeat(4, ifr);
    }

    .feature-container{
        flex-direction: column;
        gap: 50px;
    }
    .feature-img{
        width: 50%;
    }

    .badge{
        position:static;
        display: block;
    }

}



@media screen and (max-width:1024px) {

    .team-container {
        flex-direction: column;
    }

    .team-text,
    .img-container {
        width: 100%;
    }

    .team-text {
        text-align: right;
    }
}

@media screen and (max-width:768px) {

    .nav {
        flex-direction: column;
    }

    .nav>ul {
        margin-top: 50px;
    }


}

@media screen and (max-width:640px) {

    .btn-pm {
        color: #FFF;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 8px;
        background: #FF900E;
        border: 0;
        padding: 15px 20px;
    }

}


@media screen and (max-width:576px) {

    .banner .common-heading {
        font-size: 2.8rem;
    }

    .banner-text {
        width: 100%;
    }

    .img-container {
        gap: 5px;
    }

    .team-container {
        padding: 0;
        gap: 50px;
    }


}